/* styles.css */

/* body {
    font-family: system-ui, Segoe UI, Roboto, Arial;
    margin: 2rem;
    background: #f7f7fb;
} */

.input{
    border-radius: 20px;
    width: 200px;       
    height: 25px;       
    padding: 2px 10px; 
    font-size: 16px;   
    border-width: 1px;
}
.button{
    width: 150px;       
    height: 50px;       
    padding: 10px 20px; 
    font-size: 16px;    
    border-radius: 20px;
    background-color: #7ac3ff;
    border-width: 0px;
    margin-left: 20px;
}
.button.login{
    margin-top: 35px;
}

h2.cardItem {
    margin-top: 60px;
    margin-bottom: 60px;
}

.twoButtons{
    flex-direction: row;
}

.popup-overlay {
            display: none;               
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5); 
            justify-content: center;
            align-items: center;
}

.popup {
            background: white;
            padding: 20px;
            border-radius: 8px;
            min-width: 250px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.close-btn {
            background: #ff4a4a;
    
}