
button{
padding: 0.85rem 1rem;
    border-radius: 10px;
    border: 2px solid #e6e6ee;
    background: #fafafa;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

button.answers {
    text-align: left;
    width: 600px;
    flex-direction: column;
    display: flex;
    gap: 0.75rem;
    margin-top: 1rem;
    font-size: 20px;
    
}
.Qlist{
    width: 365px;
}
.questionsList{
    width: 400px;
}

.questionIDs{
    width: 60px;
    height: 60px;
}
.question{
     width: 556.36px;
    height: 200px;
    border: 2px solid #ccc;       
    border-radius: 10px;       
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 20px;
}

.next { background-color: #4CAF50; 
justify-content: center; 
width: 150px;
margin-left: 50px;
  align-items: center;   }

.return { background-color: #2196F3; 
justify-content: center; 
  align-items: center;   }

.prev { background-color: #f44336; 
    width: 150px;
    margin-right: 50px;
    justify-content: center;
  align-items: center;}
  
.navigation {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;width: 600px;
}

.active{
    border-color: #be6a32;
}

.ansveredCorrect{
    background-color: #4CAF50;
}

.ansveredWrong{
    background-color: #f44336;
}

.unansvered{
    background-color: rgb(155, 152, 152);
}

.error{
    background-color: black;
}

.sidebutton{
    font-style: normal;
}

button:disabled {
    color: inherit;          /* Keep the same font color */
    cursor: not-allowed;     /* Keep pointer disabled */
    opacity: 1;              /* Remove default dimming */
}

.selectedAnswer{
    background-color: #be6a32;
}